<h1 class="page-header">Руководители коллектива</h1>
<div class="page">
  <div class="container">
    <div class="mentor-wrapper">
      <div class="mentor">

        <a href="https://vk.com/id105362983" target="_blank"><img class="image mentor-image" src="../../assets/images/VLADIMIR_UDOVIK.jpg"
                          alt="Удовик Владимир Евгениевич"></a>
        <div class="mentor-name-wrapper">
          <div class="mentor-surname">Удовик</div>
          <div class="mentor-name">Владимир Евгениевич</div>
        </div>
        <div class="mentor-position">Художественный руководитель<br> Режиссёр-постановщик</div>
      </div>
      <div class="mentor">
        <a href="https://vk.com/olga_chernykh1986" target="_blank"><img class="image mentor-image"
                                                        src="../../assets/images/OLGA_OLEGONA.jpg"
                                                        alt="Черных Ольга Олеговна"></a>
        <div class="mentor-name-wrapper">
          <div class="mentor-surname">Черных</div>
          <div class="mentor-name">Ольга Олеговна</div>
        </div>
        <div class="mentor-position">Помощник режиссера-постановщика</div>
      </div>
    </div>
  </div>
</div>
