/* Section 2: ACTIVITIES */
.activities-section {
  background-size: cover;
  background: url("../../../assets/images/images-by-nastya/sec-2-fon.jpg") no-repeat center;
  /*height: 100vh;*/
  color: var(--light-blue);
  text-align: center;
  padding: 16px;
}
.activities__text {

}
.activities__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.activity {
  /*font-size: 24px;*/
  padding: 0 24px;
  margin-bottom: 8px;
}

.activities-swiper {
  width: 100%;
  /*overflow: visible !important;*/
}
.activity-slide {
  height: 240px;
  width: 320px;
}
.activity-image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

@media all and (max-width: 768px) {
  .activities__list {
    flex-direction: column;
  }
}
