<section class="activities-section">

  <div class="container">
    <h3 class="section-title">Наша мастерская полна разносторонних "ремесленников",<br>которым интересно творчество в его
      совокупности</h3>

    <div class="activities__list">
      <div class="activity activity-1">Хореография</div>
      <div class="activity activity-2">Актерское мастерство</div>
      <div class="activity activity-3">Вокальное исполнение</div>
      <div class="activity activity-4">Юмор</div>
      <div class="activity activity-5">Сценарное искусство</div>
      <div class="activity activity-6">Сценография</div>
      <div class="activity activity-7">Оригинальный жанр</div>
      <div class="activity activity-8">И многое другое</div>
    </div>
  </div>

  <div class="container">
    <div class="swiper-container activities-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-1.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-2.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-3.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-4.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-5.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-6.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-7.jpg" alt=""></div>
        <div class="swiper-slide activity-slide"><img class="activity-image"
                                                      src="../../assets/images/images-by-nastya/sec-2-img-8.jpg" alt=""></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

</section>
