header {
  padding: 8px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {

}

.logo__image {
  background-color: red;
  display: block;
  max-height: 40px;
  /*width: 140px;*/
}


.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-left: 24px;
}

.nav-link {
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #551a8b;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}
