.join-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 140px;
}
.join-us__label {
  color: var(--purple);
  text-align: center;
  font-size: 50px;
}
.join-us__link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join-us__how-to-become-member-link {
  padding: 12px 20px;
  background-color: var(--purple);
  margin-right: 50px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}
.join-us__how-to-become-member-link:hover {
  background-color: #7d65b9;
}
.join-us__to-events-link {
  color: var(--purple);
  font-size: 24px;
  text-align: center;
}
.join-us__to-events-link:hover {
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .join-us__link-container {
    flex-direction: column;
    align-items: center;
  }
  .join-us__how-to-become-member-link {
    margin: 0 10px 32px
  }
  .join-us__label {
    font-size: 40px;
  }
}
