<section class="final-slogan-section">
  <div class="container">
    <!--    <img src="" alt="">-->
    <!--    <div class="text-logo">-->
    <!--      <div class="text-logo_p1">ТВОРЧЕСКАЯ</div>-->
    <!--      <div class="text-logo_p2">МАСТЕРСКАЯ</div>-->
    <!--    </div>-->
    <img class="final-slogan__text-red-logo sl__part sl-1" src="../../assets/images/text-red-logo-micro.png" alt="">
    <div class="sl__part sl-2">это</div>
    <div class="sl__part sl-3">коллектив</div>
    <div class="sl__part sl-4">активных разносторонних людей</div>
    <div class="sl__part sl-5">которые хотят познать все грани творчества!</div>
  </div>
</section>
