<section class="children-plays-section">

  <div class="container">
    <h2 class="red-title" style="margin-bottom: 32px">Каждый год готовим и показываем детские новогодние спектакли</h2>

    <!-- Add Pagination -->
    <!--      <div class="swiper-pagination"></div>-->
    <div class="children-plays__years years">
      <div class="years__top-line"></div>
      <div class="years__container">
        <div class="years__year" *ngFor="let play of plays">{{play.year}}</div>
      </div>
    </div>

    <div class="swiper-container children-plays__swiper">
      <div class="swiper-wrapper">
        <div
          *ngFor="let play of plays"
          class="swiper-slide children-plays__slide">
          <img class="children-plays__image"
               src="{{play.localPath}}"
               alt="{{play.title}}">
        </div>

      </div>
      <h3 class="children-play-name">{{plays[activeBulletIndex].title}}</h3>
    </div>

  </div>

</section>
