<div class="event-view">
  <div class="event-view__image-container">
    <img src="{{event.photoUrl}}" alt="" class="event-view__image">
  </div>
  <div class="event-view__text-container">
    <h3 class="event-view__title">{{event.title}}</h3>
    <p class="event-view__text">{{event.text}}</p>
    <p class="event-view__meta-info">Где: <i style="font-weight: 400">{{event.address}}</i></p>
    <p class="event-view__meta-info">Когда: <i style="font-weight: 400">{{event.date}}</i></p>
    <p class="event-view__meta-info">Во сколько: <i style="font-weight: 400">{{event.time}}</i></p>
  </div>
</div>
