<div class="intro">
  <img src="" alt="" class="intro__image">
  <div class="intro__arrow"></div>
</div>

<div class="slogan-part">
  <div class="slogan-part__body">
    <div class="slogan-part__text slogan-part__text-1">Творческая Мастерская -</div>
    <div class="slogan-part__text slogan-part__text-2">это коллектив активных разносторонних людей,</div>
    <div class="slogan-part__text slogan-part__text-3">которые хотят познать все грани творчества!</div>
  </div>
</div>

<div class="talents">
  <div class="container">
    <h2>Здесь мы раскрываем все возможности и таланты человека!</h2>
    <div class="talent-list">
      <div class="talents__talent talent">
        <div class="talent__circle"><img src="" alt="" class="talent__image"></div>
        <div class="talent__title">Актерское мастерство</div>
      </div>
      <div class="talents__talent talent">
        <div class="talent__circle"><img src="" alt="" class="talent__image"></div>
        <div class="talent__title">Актерское мастерство</div>
      </div>
      <div class="talents__talent talent">
        <div class="talent__circle"><img src="" alt="" class="talent__image"></div>
        <div class="talent__title">Актерское мастерство</div>
      </div>
      <div class="talents__talent talent">
        <div class="talent__circle"><img src="" alt="" class="talent__image"></div>
        <div class="talent__title">Актерское мастерство</div>
      </div>
    </div>
  </div>
</div>

<div class="perfomance-view">
  <h1>Наши репертуарные спекакли</h1>
  <div class="slider">
    <div class="slide">
      <div class="slide__text-container">
        <h3 class="slide__title">Оракул любви</h3>
        <div class="slide__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta dolor ducimus eius in ipsam iste labore maxime quas quidem. Culpa dicta earum fugiat fugit in non praesentium provident ratione.</div>
      </div>
      <div class="slider__right-part">

      </div>
    </div>
  </div>
</div>

