.member-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-view.invite .invite-image-container {
  /*height: 240px;*/
  /*width: 240px;*/
  /*overflow: visible;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
}
.member-view.invite .invite-image {
  /*max-height: 100%;*/
}

.member-view__image {
  --a: 240px;
  height: var(--a);
  width: var(--a);
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 8px;
  margin-right: 8px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.member-view__title {
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.member-view__subtitle {
}
.member-view__group {
  font-size: 0.8rem;
}
.member-view__status {
  font-size: 0.8rem;
  margin: 8px auto 0;
  text-align: center;
}



@media all and (max-width:  768px) {
  .member-view {
    flex-direction: row;
    align-items: center;
  }
  .member-view__image {
    height: 100px;
    width: 100px;
    margin-bottom: 0px;
  }
  .text-container {
    width: 100%;
    text-align: right;
  }
  .member-view__title {

  }
  .member-view__subtitle {

  }
  .member-view__status {
    text-align: left;
  }
}
