.member-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-view.invite .invite-image-container {
  /*height: 240px;*/
  /*width: 240px;*/
  /*overflow: visible;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
}
.member-view.invite .invite-image {
  /*max-height: 100%;*/
}

.member-view__image {
  --a: 240px;
  height: var(--a);
  width: var(--a);
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 8px;
}

.member-view__title {
  font-size: 22px;
  text-align: center;
}

.member-view__subtitle {
  text-align: center;
}
@media all and (max-width:  768px) {
  .member-view {
    flex-direction: row;
  }
  .member-view__image {
    height: 120px;
    width: 120px;
  }
}
