<section class="our-plays-section">
<!--  <div class="our-plays__container">-->
    <h3 class="section-title our-plays__title">Наши репертуарные спектакли</h3>
    <div class="swiper-container  our-plays__swiper">

      <div class="swiper-wrapper">
        <div class="swiper-slide our-plays__slide">
          <img class="our-plays__slide-image image" src="../../assets/images/images-by-nastya/sec-4-family-stories.jpg" alt="">
        </div>
        <div class="swiper-slide our-plays__slide"><img class="our-plays__slide-image image"
                                                        src="../../assets/images/images-by-nastya/sec-4-svetloe-budusheye.jpg"
                                                        alt=""></div>
        <div class="swiper-slide our-plays__slide"><img class="our-plays__slide-image image"
                                                        src="../../assets/images/images-by-nastya/sec-4-urok.jpg"
                                                        alt="Урок мужества"></div>
        <div class="swiper-slide our-plays__slide"><img class="our-plays__slide-image image"
                                                        src="../../assets/images/images-by-nastya/sec-4-orakul.jpg"
                                                        alt="Оракул любви"></div>
        <div class="swiper-slide our-plays__slide"><img class="our-plays__slide-image image"
                                                        src="../../assets/images/images-by-nastya/sec-4-petlya.jpg"
                                                        alt="Петля времени"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination our-plays__pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
<!--  </div>-->
</section>
