<h1 class="page-header">Руководители коллектива</h1>
<div class="page">
  <div class="container">
    <div class="mentor-wrapper">
      <div class="mentor">

        <a href="https://vk.com/tsepeman" target="_blank"><img class="image mentor-image" src="https://sun9-7.userapi.com/c857036/v857036972/13b8ab/9-lhzWoiVEY.jpg"
                          alt="Анна Цепеман"></a>
        <div class="mentor-name-wrapper">
          <div class="mentor-surname">Анна Цепеман</div>
<!--          <div class="mentor-name"></div>-->
        </div>
        <div class="mentor-position">Хореограф</div>
      </div>
      <div class="mentor">
        <a href="https://vk.com/id3376088" target="_blank"><img class="image mentor-image"
                                                        src="https://sun1-91.userapi.com/impg/c858132/v858132078/21383b/nXbT5jc9zks.jpg?size=400x0&quality=90&sign=0f6a4fea043e32941c8077ddd6cfb691&ava=1"
                                                        alt="Новикова Екатерина Борисовна"></a>
        <div class="mentor-name-wrapper">
          <div class="mentor-surname">Новикова</div>
          <div class="mentor-name">Екатерина Борисовна</div>
        </div>
        <div class="mentor-position">Педагог по вокалу</div>
      </div>
    </div>
  </div>
</div>
