
.you-can-section {
  /*overflow: hidden;*/
}

.you-can__body {
  max-width: 800px;
  padding: 16px;
  margin: 100px auto;
  position: relative;
}

.you-can__title {
  padding: 16px;
  background-color: var(--red);
  color: var(--light-blue);
  text-align: center;
}

.you-can__split-view {
  display: flex;
  padding: 0 16px 16px 0;
  align-items: center;
}
.split-view__text-side {
  list-style-type: '— ';
  font-size: 18px;
  position: relative;
  z-index: 2;
}
.split-view__parah {
  margin-bottom: 18px;
  color: #454545;
  transition: 0.2s;
  cursor: pointer;
  /*transition-property: ;*/
}
.split-view__parah:hover {
  color: black;
  transform: scale(1.05);
}
.split-view__image-side {
  max-width: 40%;
  padding: 32px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.split-view__image {

}

/* Дизайним слайдер */
.custom-slider {
  position: relative;
  overflow: visible;
  height: 200px;
  width: 200px;
}
.custom-slider__slide {
  position: absolute;
  pointer-events: none;
  transition-property: opacity, left;
}
.custom-slider__slide.prev {
  left: -100px;
  opacity: 0;
}
.custom-slider__slide.active {
  left: 0;
  opacity: 1;
}
.custom-slider__slide.next {
  left: 100px;
  opacity: 0;
}
/*.swiper-container {*/
/*  overflow: visible;*/
/*}*/
/*.swiper-slide {*/
/*  opacity: 0;*/
/*  transition: opacity 0.2s;*/
/*}*/
/*.swiper-slide-active {*/
/*  opacity: 1;*/
/*  transition: opacity 0.2s;*/
/*}*/

.mask-1 {
  left: -160px;
  top: -20px;
  max-width: 140px;
}
.mask-2 {
  max-width: 130px;
  bottom: -60px;
  left: -150px;
}
.lamp {
  top: -10px;
  right: -140px;
  max-width: 80px;
}
.book {
  bottom: -80px;
  right: -140px;
  max-width: 160px;
}
.pen {
  bottom: 150px;
  right: -130px;
  max-width: 70px;
}
