<section class="you-can-section">

  <div class="you-can__body">

    <h2 class="red-title">У нас можно</h2>
    <div class="you-can__split-view">
      <ul class="split-view__text-side">
        <li class="split-view__parah">Заниматься актерским мастерством и режиссурой</li>
        <li class="split-view__parah">Проходить тренинги по развитию актерских способностей и сценодвижению, ораторскому
          искусству
        </li>
        <li class="split-view__parah">Стать лучшим актером/актрисой университета</li>
        <li class="split-view__parah active">Создать и воплотить в жизнь свой собственный творческий сценарий</li>
        <li class="split-view__parah">Участвовать в международных театральных и творческих фестивалях</li>
      </ul>
      <div class="split-view__image-side">
        <div class="custom-slider">

          <!--            <div class="custom-slider__slide split-view__image"><img class="image"-->
          <!--                                                             src="../../assets/images/images-by-nastya/sec-3-parah-img.svg"-->
          <!--                                                             alt=""></div>-->
          <!--            <div class="custom-slider__slide split-view__image"><img class="image"-->
          <!--                                                             src="../../assets/images/images-by-nastya/sec-3-orator.jpg"-->
          <!--                                                             alt=""></div>-->
          <!--            <div class="custom-slider__slide split-view__image"><img class="image"-->
          <!--                                                             src="../../assets/images/images-by-nastya/sec-3-festival.png"-->
          <!--                                                             alt=""></div>-->
          <!--            <div class="custom-slider__slide split-view__image"><img class="image"-->
          <!--                                                             src="../../assets/images/images-by-nastya/sec-3-man.svg"-->
          <!--                                                             alt=""></div>-->
          <!--            <div class="custom-slider__slide split-view__image"><img class="image"-->
          <!--                                                             src="../../assets/images/images-by-nastya/sec-3-festival.png"-->
          <!--                                                             alt=""></div>-->
          <img class="custom-slider__slide split-view__image image"
               src="../../assets/images/images-by-nastya/sec-3-parah-img.svg"
               alt="">
          <img class="custom-slider__slide split-view__image image image__object-fit_cover"
               src="../../assets/images/images-by-nastya/sec-3-orator.jpg"
               alt="">
          <img class="custom-slider__slide split-view__image image"
               src="../../assets/images/images-by-nastya/sec-3-festival.svg"
               alt="">
          <img class="custom-slider__slide split-view__image image"
               src="../../assets/images/images-by-nastya/sec-3-man.svg"
               alt="">
          <img class="custom-slider__slide split-view__image image"
               src="../../assets/images/images-by-nastya/sec-3-festival.svg"
               alt="">
        </div>
      </div>
    </div>

    <img src="../../assets/images/images-by-nastya/sec-3-mask-1.svg" alt="" class="decoration-silhouette mask-1">
    <img src="../../assets/images/images-by-nastya/sec-3-mask-2.svg" alt="" class="decoration-silhouette mask-2">
    <img src="../../assets/images/images-by-nastya/sec-3-lamp.svg" alt="" class="decoration-silhouette lamp">
    <img src="../../assets/images/images-by-nastya/sec-3-pen.svg" alt="" class="decoration-silhouette pen">
    <img src="../../assets/images/images-by-nastya/sec-3-book.svg" alt="" class="decoration-silhouette book">

  </div>

</section>
