<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<app-header></app-header>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="for-cooperation">
      <div class="for-cooperation__1 for-cooperation__text">По вопросам сотрудничества:</div>
      <div class="for-cooperation__2 for-cooperation__text">8 965 381-82-31</div>
      <div class="for-cooperation__3 for-cooperation__text">tm-mospolytech@gmail.com</div>
    </div>
    <div class="social">
      <div>Подписывайтесь на нас в социальных сетях:</div>
      <div class="social__link-container">
        <a href="" class="social__link"><img src="assets/images/social-vk.png" alt="" class="social__link-image"></a>
        <a href="" class="social__link"><img src="assets/images/social-instagram.png" alt="" class="social__link-image"></a>
        <a href="" class="social__link"><img src="assets/images/social-twitter.png" alt="" class="social__link-image"></a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
