.intro-section {
  position: relative;
}
.intro__image {
  margin: 0 auto;
  display: block;

}
.intro__arrow-down {
  background-image: url("src/assets/images/black-arrow-down.png");
  display: block;
  width: 30px;
  height: 16px;
  background-size: contain;
  /*cursor: pointer;*/
  margin: 0 auto 16px;
}
