<section class="intro-section">
  <div class="container">
    <div class="intro__body">
      <img class="intro__image" src="../../assets/images/text-red-logo.png" alt="">
      <h3 class="intro__greeting">Добро пожаловать</h3>
    </div>
    <img src="../../assets/images/images-by-nastya/" alt="">
  </div>
  <div class="intro__arrow-down"></div>
</section>

<app-activities-section></app-activities-section>

<app-you-can-section></app-you-can-section>

<app-our-plays-section></app-our-plays-section>

<app-children-plays-section></app-children-plays-section>

<app-awards-section
[scrollCtrl]="scrollCtrl"></app-awards-section>

<app-final-slogan-section></app-final-slogan-section>

<section class="join-us-section">
  <h3 class="join-us__label">Хочешь к нам?</h3>
  <div class="join-us__link-container">
    <a href="" class="join-us__how-to-become-member-link">Как стать участником коллектива</a>
    <a routerLink="events" class="join-us__to-events-link">Узнать о ближайших выступлениях</a>
  </div>
</section>
