/* You can add global styles to this file, and also import other style files */
@import "dinpro.css";
body {
  margin: 0;
  font-family: "DIN Pro", sans-serif;
  font-weight: 400;
  /*font-size: 20px;*/
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 16px;
}

a:hover {
  cursor: pointer !important;
}

.text-centering {
  text-align: center;
}
