header {
  padding: 8px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.logo__image {
  background-color: red;
  display: block;
  max-height: 50px;
  /*width: 140px;*/
}


.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 16px;
  position: relative;
  display: block;
}
.external {
  margin-right: 26px;
}
.external::after {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  top: 2px;
  right: -12px;
  background: url("../../../assets/images/external-link-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  text-decoration: none;
  position: relative;
  color: #4568BE;
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #4568BE;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.burger-button {
  display: none;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 4px;
  cursor: pointer;
  right: 8px;
  background-image: url(../../../assets/images/burger.svg);
  background-size: 35px;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
  }

  .burger-button {
    display: block;
  }
  .nav-link {
    display: block;
    padding: 8px 6px;
  }
  .nav-link::after {
    display: none;
  }
  .nav-item:not(:last-child) {
    border-bottom: 1px solid darkblue;
  }
  .nav.mobileNavHide {
    display: none;
  }
}
