header {
  padding: 8px;
  /*animation-name: fadeEnter;*/
  /*animation-duration: 1.4s;*/
  visibility: visible;

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  position: relative;
  height: 42px;
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__link-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 42px;
  position: absolute;
  margin: 0 auto;
  /*left: 0;*/
  /*top: 0;*/
}

.logo__image {
  display: block;
  height: 42px;
  /*margin-right: 8px;*/
  /*width: 140px;*/
}

.logo__text-image {
  height: 42px;
  /*margin-left: 8px;*/
}


.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 16px;
  position: relative;
  display: block;
}

.external {
  margin-right: 26px;
}

.external::after {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  top: 2px;
  right: -12px;
  background-size: cover;
  background-image: url("../../../assets/images/external-link-icon.svg");
  background-repeat: no-repeat;
}

.nav-link {
  text-decoration: none;
  position: relative;
  color: #4568BE;
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #4568BE;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.burger-button {
  display: none;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 8px;
  cursor: pointer;
  right: 12px;
  background-image: url(../../../assets/images/burger.svg);
  background-size: 35px;
  background-repeat: no-repeat;
}

.close-mobile-menu-button {
  /*display: none;*/
}

@media (max-width: 870px) {
  header .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }


  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(69, 104, 190, 0.9);
    transition: 0.2s opacity;
  }

  .mobileNavHidden {
    pointer-events: none;
    opacity: 0;
  }


  .burger-button {
    display: block;
  }

  .nav-link {
    display: block;
    padding: 8px 6px;
    color: white;
    font-size: 1.4rem;
  }

  .nav-link::after {
    display: none;

  }

  .nav-item:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .external::after {
    background-image: url("../../../assets/images/external-link-icon-white.svg");
  }

  .close-mobile-menu-button {
    height: 35px;
    width: 35px;
    position: fixed;
    top: 8px;
    cursor: pointer;
    right: 12px;
    display: block;
    /*background-color: red;*/
    background-image: url(../../../assets/images/close.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }


}

@media all and (max-width: 870px) and (min-width: 769px) {
  /*.logo__image {*/
  /*  display: none;*/
  /*}*/
}
